@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:url("https://images.pexels.com/photos/949128/pexels-photo-949128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: flex;
    font-family: Assistant, sans-serif;
    min-height: 90vh;
}

body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.9;
    z-index: -1;
}

.confirm-page {
    color: white;
    font-size: 5em;
    margin: 2em;
    text-align: center;
}