@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background:url("https://images.pexels.com/photos/949128/pexels-photo-949128.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    display: flex;
    font-family: Assistant, sans-serif;
    display: flex;
    gap: 4em;
    padding: 3em;
    flex-direction: column;
    min-height: 90vh;
}

body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.9;
    z-index: -1;
}

.header {
    color: white;
    font-size: 3em;
}

.header span {
    color: red;
}

.description {
    font-size: 2em;
    color: white;
}

.help {
    font-size: 1em;
    color: white;
}