$primary: #2196F3;

* {
  box-sizing: border-box;
}

@keyframes spinner {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(359deg); }
}

body {
  font-family: Assistant, sans-serif;
  min-height: 90vh;
  background: url("https://st.depositphotos.com/3154885/4025/i/450/depositphotos_40259443-stock-photo-olympic-weights.jpg") 50% center;
  background-size: cover;
}

.home-welcome {
  background: rgba(darken($primary,40%), 0.85);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.